@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    :root {
        --background: white;
        --foreground: black;
        --green: #A2DB8E;
        --orange: #FFB932;
        --footer-background: #3D3A33;
    }

    .dark {
        --background: black;
        --foreground: white;
        --green: #A2DB8E;
        --orange: #FFB932;
        --footer-background: #282725;
    }

    body {
        background-color: var(--background);
        color: var(--foreground);
    }

    .font-montserrat {
        font-family: var(--font-montserrat-alternates);
    }

    .font-comforter {
        font-family: var(--font-comforter-brush);
    }

    .font-barlow-condensed {
        font-family: var(--font-barlow-condensed);
    }
}